{{! without contextual components }}
{{#if (not-eq currentPath 'print-review')}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "menu")}}
        {{paper-icon "menu"}}
        {{#paper-tooltip}}
          Main Menu
        {{/paper-tooltip}}
      {{/paper-button}}
      <h1>Nexonia Tools (c)2019 Shahman V1.06 July 30
      </h1>
      <span class="flex"></span>
      {{#paper-button raised=true onClick=(action 'goto' "jira")}}
        JIRA
      {{/paper-button}}
      {{#paper-button raised=true onClick=(action 'goto' "time")}}
        Timecard
      {{/paper-button}}
      {{#paper-button raised=true onClick=(action 'goto' "submit")}}
        Late Report
      {{/paper-button}}
      {{#paper-button iconButton=true onClick=(action 'goto' "find")}}
        {{paper-icon "search"}}
        {{#paper-tooltip}}
          Find
        {{/paper-tooltip}}
      {{/paper-button}}
      {{#paper-button iconButton=true onClick=(action "more")}}
        {{paper-icon "more_vert"}}
        {{#paper-tooltip}}
          More Options
        {{/paper-tooltip}}
      {{/paper-button}}

    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/if}}
{{outlet}}
